<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon application Vue</title>
</head>
<body>

    <div id="app">
        <h1>Créer un compte en quelques clics</h1>

        <h2>Encore {{ totalSteps - doneSteps }} étape<span v-if="totalSteps - doneSteps !== 1">s</span> sur {{ totalSteps }}</h2>

        <form v-on:submit="submitForm">
            <div class="form-control">
                <label for="firstname">Prénom</label>
                <input id="firstname" type="text" v-model="user.firstname" placeholder="John">
            </div>

            <button type="submit">C'est parti !</button>

            <p v-if="globalError !== ''" style="color: red">{{ globalError }}</p>
        </form>

         <!-- TODO: Continuez ici l'implémentation du formulaire -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
            user : {
                firstname: '',
                lastname: '',
                birthDate: null,
                addrLineOne: '',
                addrLineTwo: '',
                addrPostal: null,
                addrCity: '',
                addrCountry: '',
                email: '',
                password: '',
                confirmPassword: ''
            },
            globalError: ''
        },
        computed: {
            totalSteps(){
                return Object.keys(this.user).length
            },
            doneSteps(){
                return Object.keys(this.user).filter((el) => {
                    return (this.user[el] !== '' && this.user[el] !== null)
                }).length
            }
        },
        methods: {
            submitForm(e){
                e.preventDefault();
                
                if(this.totalSteps - this.doneSteps !== 0){
                    this.globalError = 'Ooops tout n\'est pas rempli';
                    return;
                }

                console.log('Tout est rempli !'); 
                // TODO: Effacer le formulaire et afficher "Bonjour {{ user.firstname }}"
            }
        }
      })
    </script>
</body>
</html>