<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon application Vue</title>
</head>
<body>

    <div id="app">
        <h1>Mon compte</h1>

        <!-- V-IF ET CONDITIONS -->
        <div v-if="typeof user !== 'undefined'">
            <h2>Bienvenue {{ user.name }} <span v-show="user.isAdmin === true">[ADMIN]</span></h2>

            <button @click="user.isAdmin = !user.isAdmin">
                <span v-if="user.isAdmin === false">Devenir admin</span>
                <span v-else="user.isAdmin === true">Quitter le job d'admin</span>
            </button>
        </div>

        <div v-else> 
            <button href="/login">Se connecter</a>
        </div>


        <!-- V-FOR ET BOUCLES -->
        <div>
            <h3>Mon panier</h3>

            <ul>
                <li v-for="el in panier"> 
                    <a :href="el.link">
                        {{ el.unit }} x {{ el.name }} : {{ el.unit * el.price }} €
                    </a>
                </li>
            </ul>
        </div>


        <!-- V-ON et événements -->
        <div>
            <h3>Ma couleur favorite est le <span :style="colorStyle">{{ favoriteColor }}</span> <button v-on:click="changeColor">Modifier</button></h3>
        </div>

        <!-- V-MODEL -->
        <div>
            <label for="birthYear">Année de naissance :</label>
            <input id="birthYear" type="number" v-model="birthYear" placeholder="1990" min="1900" max="2022"/>

            <p v-if="birthYear">Tu as {{ 2022 - birthYear }} ans</p>
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
            user: {
                name: 'John Doe',
                isAdmin: true // OR user
            },
            panier : [
                { name: 'Jeu XBOX SX', price: 70, unit: 1, link: 'https://mywebsite/products/xbox'},
                { name: 'Sneaker', price: 30, unit: 1, link: 'https://mywebsite/products/basket'},
                { name: 'T-Shirt', price: 20, unit: 3, link: 'https://mywebsite/products/tshort'},
            ],
            favoriteColor: 'green',
            birthYear: null
        },
        computed: {
            colorStyle(){
                return `color: ${this.favoriteColor}` 
            }
        },
        methods: {
            changeColor(){
                if(this.favoriteColor === 'green'){
                    this.favoriteColor = 'blue';                    
                } else {
                    this.favoriteColor = 'green';
                }

            }
        }
      })
    </script>
</body>
</html>